

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Muestras analizadas</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/node_modules/select2/dist/css/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util_tables.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main_tables.css">
<!--===============================================================================================-->
</head>
<body>
<center><h1>Ultimas muestras analizadas</h1></center>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Nombre/Hash</th>
									<th class="cell100 column2">Arquitectura</th>
									<th class="cell100 column3">Fecha de análisis</th>
									<th class="cell100 column4">Familia asociada</th>
									<th class="cell100 column5">Vista detallada</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr class="row100 body">
									<td class="cell100 column1">Like a butterfly</td>
									<td class="cell100 column2">Boxing</td>
									<td class="cell100 column3">9:00 AM - 11:00 AM</td>
									<td class="cell100 column4">Aaron Chapman</td>
									<td class="cell100 column5">10</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


					</div>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<!--===============================================================================================-->
<script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/node_modules/select2/dist/js/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>

<!--===============================================================================================-->
	<script src="/static/js/table_main.js"></script>

</body>
</html>